<!-- <div class="form-container">
  <h3>Reactive Form Demo</h3>
  <app-test-form-input placeholder="Enter name" />
  <app-test-form-textarea placeholder="Enter description" />
</div> -->

<div class="form-container">
  <h1>Reactive Form Demo</h1>
  <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name-input">Name: </label>
      <modus-wc-text-input
        id="name-input"
        ariaLabel="name text input"
        placeholder="Enter name"
        formControlName="name"
      />
    </div>
    <div>
      <label for="description-input">Description: </label>
      <modus-wc-textarea
        id="description-input"
        ariaLabel="description textarea input"
        placeholder="Enter description"
        formControlName="description"
      />
    </div>
    <modus-wc-button type="submit" ariaLabel="submit button" label="Submit" />
  </form>
  <p *ngIf="testForm.value.name && testForm.value.description">
    Name: {{ testForm.value.name }}, Description:
    {{ testForm.value.description }}
  </p>
</div>
