<div class="form-container">
  <h1>Reactive Form Demo</h1>
  <form [formGroup]="testForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name-input">Name: </label>
      <modus-wc-text-input
        id="name-input"
        ariaLabel="name text input"
        placeholder="Enter name"
        formControlName="name"
      />
    </div>
    <div>
      <label for="description-input">Description: </label>
      <modus-wc-textarea
        id="description-input"
        ariaLabel="description textarea input"
        placeholder="Enter description"
        formControlName="description"
      />
    </div>
    <modus-wc-button type="submit" ariaLabel="submit button" label="Submit" />
  </form>
  <p *ngIf="testForm.value.name">Name: {{ testForm.value.name }}</p>
  <p *ngIf="testForm.value.description">
    Description: {{ testForm.value.description }}
  </p>
</div>
