<main class="main">
  <div class="content">
    <modus-wc-typography
      variant="h1"
      aria-label="Example typography"
      size="md"
      weight="normal"
      >Test Angular 17 Application</modus-wc-typography
    >
    <div class="avatar">
      <modus-wc-avatar
        [imgSrc]="avatarImgSrc"
        ariaLabel="Avatar"
      ></modus-wc-avatar>
    </div>
    <br />
    <br />
    <app-test-form />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
      <modus-wc-icon
        ariaLabel="test icon"
        customClass=""
        name="alert"
        size="md"
      />
    </div>
    <div>
      <modus-wc-badge content="modus badge" />
    </div>
    <div>
      <modus-wc-text-input placeholder="modus text input" />
    </div>
    <div>
      <modus-wc-button label="modus button" [disabled]="false" />
    </div>
    <div id="divider" style="width: 100%">
      <modus-wc-divider
        color="secondary"
        aria-label="primary divider"
        orientation="vertical"
        content="modus divider"
      />
    </div>
    <div>
      <modus-wc-theme-provider>
        <modus-wc-theme-switcher></modus-wc-theme-switcher>
      </modus-wc-theme-provider>
    </div>
  </div>
</main>

<router-outlet />
